<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 추가할 기능을 작성할 곳. -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>

    <property name="CONSOLE_LOG_PATTERN"
              value="%boldWhite([%d{yyyy-MM-dd} %d{HH:mm:ss.SSS}]) %X{request_id:-startup} | %magenta(%thread) | %clr(%5level) | %cyan(%-30.30logger{30}) | %m%n" />
    <property name="FILE_LOG_PATTERN"
              value="%d{yyyy-MM-dd} %d{HH:mm:ss.SSS} | %X{request_id:-startup} | %thread | %5level | %-25.25logger{25} | %m%n" />

    <!-- 콘솔에 기록될 로그 설정 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 파일에 기록될 로그 설정 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <!-- triggeringPolicy : 롤링이 언제 발생해야 하는지? rollingPolicy : 롤링이 어떻게 수행되어야 하는지? -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>./log/scrumble-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>7</maxHistory> <!-- 파일 수 지정 -->
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="FILE-ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>./log/scrumble-error-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>50MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- 프로파일별 로그 레벨 설정 -->
    <springProfile name="local">
        <!--  한정된 패키지의 로그만 특정 로그로 작성한다 -->
        <logger name="com.eggmeonina.scrumble" level="DEBUG" />
        <logger name="org.hibernate.SQL" level="DEBUG" />
        <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="DEBUG" />
        <logger name="com.zaxxer.hikari.HikariConfig" level="DEBUG" />
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>
    <springProfile name="dev">
        <logger name="com.eggmeonina.scrumble" level="DEBUG" />
        <logger name="org.hibernate.SQL" level="DEBUG" />
        <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="DEBUG" /> <!-- 쿼리문의 매개변수 기록 -->
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>
    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE-ERROR"/>
        </root>
    </springProfile>
</configuration>
